[submodule "wl_logistics"]
	path = wl_logistics
	url = git@github.com:woodlog-cl/wl_logistics.git
	branch = main

[submodule "wl_barcode"]
	path = wl_barcode
	url = git@github.com:woodlog-cl/wl_barcode.git
	branch = main

[submodule "wl_production"]
	path = wl_production
	url = git@github.com:woodlog-cl/wl_production.git
	branch = main

[submodule "wl_dashboard"]
	path = wl_dashboard
	url = git@github.com:woodlog-cl/wl_dashboard.git
	branch = main

[submodule "wl_reception"]
	path = wl_reception
	url = git@github.com:woodlog-cl/wl_reception.git
	branch = 15.0
